version: '3.8'

services:
  backend:
    build: ./server
    container_name: slotswapper-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGODB_URI=mongodb+srv://SRIC:SRIC221205@cluster.fmt0jf7.mongodb.net/sric_admissions?retryWrites=true&w=majority&appName=Cluster
      - JWT_SECRET=ankit_kumar_slotswapper_secret_2024
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    build: ./client
    container_name: slotswapper-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mongodb_data: